{% extends 'base.html.twig' %}

{% block title %}WpSite index{% endblock %}

{% block body %}
    <h1>WpSite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Websiteurl</th>
                <th>CsKey</th>
                <th>CsSecret</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wp_site in wp_sites %}
            <tr>
                <td>{{ wp_site.id }}</td>
                <td>{{ wp_site.websiteurl }}</td>
                <td>{{ wp_site.csKey }}</td>
                <td>{{ wp_site.csSecret }}</td>
                <td>
                    <a href="{{ path('app_wp_site_show', {'id': wp_site.id}) }}">show</a>
                    <a href="{{ path('app_wp_site_edit', {'id': wp_site.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_wp_site_new') }}">Create new</a>
{% endblock %}
