{% extends 'base.html.twig' %}

{% block title %}WpSite{% endblock %}

{% block body %}
    <h1>WpSite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wp_site.id }}</td>
            </tr>
            <tr>
                <th>Websiteurl</th>
                <td>{{ wp_site.websiteurl }}</td>
            </tr>
            <tr>
                <th>CsKey</th>
                <td>{{ wp_site.csKey }}</td>
            </tr>
            <tr>
                <th>CsSecret</th>
                <td>{{ wp_site.csSecret }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_wp_site_index') }}">back to list</a>

    <a href="{{ path('app_wp_site_edit', {'id': wp_site.id}) }}">edit</a>

    {{ include('wp_site/_delete_form.html.twig') }}
{% endblock %}
